<nav [className]="getClasses()">
    <div class="nav-wrapper">
      <a href="#!" class="logo">Logo</a>
      <a materialize="dropdown" class='dropdown-button' href='#' data-activates='dropdown1'>Menu</a>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a>one</a></li>
        <li><a>two</a></li>
        <li class="divider"></li>
        <li><a>three</a></li>
      </ul>
      <ul class="right">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">notifications</i></a></li>
        <li class="user-image-wrapper"><a href="mobile.html"><img src="http://archives.materializecss.com/0.100.2/images/yuna.jpg" alt="" class="circle responsive-img user-image"></a></li>
      </ul>
    </div>
  </nav>
