       <div class="section">
          <!--Hoverable Table-->
          <div class="row">
              <div class="input-field col s2 right">
                  <select [ngModel]="initialValue" (ngModelChange)="change($event)" id="selectExample" materialize="material_select" [materializeSelectOptions]="options">
                      <option value="" disabled selected>Filtrar por:</option>
                      <option>Livros</option>
                      <option>Artigos</option>
                  </select>
              </div>
            </div>
          <div class="divider"></div>
          <div id="hoverable-table">
            <div class="row">
              <div class="col s12">
                <table class="highlight centered">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Titulo</th>
                      <th>Tipo</th>
                      <th>Categoria</th>
                      <th>Autor</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>18</td>
                      <td>Da terra a lua</td>
                      <td>Livro</td>
                      <td>Tecnologia</td>
                      <td>Rafael Marinho</td>
                      <td>
                          <post-detail></post-detail>
                          <post-action></post-action>
                      </td>
                    </tr>  
                    <tr>
                        <td>18</td>
                        <td>Da terra a lua</td>
                        <td>Livro</td>
                        <td>Tecnologia</td>
                        <td>Rafael Marinho</td>
                        <td>
                            <post-detail></post-detail>
                            <post-action></post-action>
                        </td>
                      </tr>
                      <tr>
                          <td>18</td>
                          <td>Da terra a lua</td>
                          <td>Livro</td>
                          <td>Tecnologia</td>
                          <td>Rafael Marinho</td>
                          <td>
                              <post-detail></post-detail>
                              <post-action></post-action>
                          </td>
                        </tr>    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
