       <div class="section">
          <!--Hoverable Table-->
          <div class="divider"></div>
          <div id="hoverable-table">
            <div class="row">
              <div class="col s12">
                <table class="highlight centered">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Titulo</th>
                      <th>Tipo</th>
                      <th>Categoria</th>
                      <th>Autor</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>18</td>
                      <td>Da terra a lua</td>
                      <td>Livro</td>
                      <td>Tecnologia</td>
                      <td>Rafael Marinho</td>
                      <td>
                          <a class="waves-effect waves-light ml-1 btn  #43a047 red darken-1">Reprovar</a>
                          <a class="waves-effect waves-light ml-1 btn  #43a047 green darken-1">Aprovar</a>
                          <!--a class='dropdown-trigger btn' materialize="dropdown" data-activates='dropdown1'>Drop Me!</a-->

                          <!-- Dropdown Structure -->
                          <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">one</a></li>
                            <li><a href="#!">two</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#!">three</a></li>
                            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                          </ul>
                      </td>
                    </tr>
                    <!--div class="right">
                      <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                      </ul>
                    </div-->        
                  </tbody>
                </table>
              </div>
            </div>
          </div>