@import '../../../../assets/styles/_base/colors';

.post-title{
    .post-badges{
        margin-bottom: 4px;
    }

    h1{
        font-size: 22px;
        text-align: center;
        margin: 0;
    }
}

.post-description{
    p{
        text-align: center;
    }
}

.post-actions{
    .white{
        color: $black;
    }
}
