// ==========================================================================
// Imports do modulo
// ==========================================================================
@import '../../../assets/styles/_base/base';

.banner{
    position: relative;

    height: 200px;

    z-index: -998;
    
    background: {
        image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('../../../assets/images/banner__main.jpg');
    }

    .container{
        width: 100%;
    }

    .banner-actionbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        position: absolute;
    
        width: 100%;
    
        background: rgba($black, 0.6);
    
        p{
            width: 50%;
    
            color: $white;
        }
    }
}
