<app-header></app-header> 

<div class="container">
  <div class="row">
    <div class="col s12 l3">
      <img class="responsive-img col s10 offset-s1 l12 offset-l0 post-img" src="https://http2.mlstatic.com/vinte-mil-leguas-submarinas-D_NQ_NP_984993-MLB26647072689_012018-F.jpg">
    </div>
    <div class="col s12 l9">
      <h5>Resumo do livro</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit excepturi quaerat, aliquam doloribus veritatis necessitatibus id reiciendis velit soluta voluptatem voluptate perspiciatis nesciunt est tempora, obcaecati ab. Ipsa, non.</p>
      <p class="right-align">São paulo, 30 de junho de 2018</p>

      <div class="row">
        <div class="col s6 l6">
            <a routerLink="" class="waves-effect waves-light btn-small viewpost-btn">visualizar</a>
        </div>
        <div class="col s6 l6 post-ratings">
            <div class="estrelas">
              <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
              <label for="cm_star-1"><i class="fa"></i></label>
              <input type="radio" id="cm_star-1" name="fb" value="1"/>
              <label for="cm_star-2"><i class="fa"></i></label>
              <input type="radio" id="cm_star-2" name="fb" value="2"/>
              <label for="cm_star-3"><i class="fa"></i></label>
              <input type="radio" id="cm_star-3" name="fb" value="3"/>
              <label for="cm_star-4"><i class="fa"></i></label>
              <input type="radio" id="cm_star-4" name="fb" value="4"/>
              <label for="cm_star-5"><i class="fa"></i></label>
              <input type="radio" id="cm_star-5" name="fb" value="5"/>
            </div>
        </div>      
      </div>
    </div>
  </div>
  <app-suggestion-carrousel></app-suggestion-carrousel>
</div>
