<div class="banner">
  <div class="row">
    <div class="col s6 offset-s3">
        <div class="container-img-user">
            <img src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2018/04/16/chewbacca.jpg" class="z-depth-4 responsive-img">
          </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">Chewbacca</h5>
        </div>
    </div>
    
    <div class="row">
      <h6 class="center-align">Descrição</h6>
      <p class=" col s10 offset-s1 center-align">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim illum laborum, impedit tempore minus iusto earum, molestias aspernatur officiis velit tempora quia. Cupiditate officia quia at deleniti non voluptatibus vel.</p>
    </div>
</div>

