<div class="banner">
    <div class="container">
        <!--header [headerColor]="'transparent'"></header-->
    </div>
    <div class="banner-footer">
      <div class="row">
          <div class="profile-img col s8 offset-s2">
              <img src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2018/04/16/chewbacca.jpg" class="img" alt="">
          </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <h5>Rafael Marinho</h5>
    </div>
  </div>
</div>