<div class="container">
        <div class="row">
            <figure class="col s10 offset-s1 post-image">
                <img src="{{ post?.tra_img_capa}}" class="responsive-img" [ngClass]="!post ? 'skeleton-image-post' : 'teste'" alt="">
            </figure>
    
            <div class="col s10 offset-s1 post-title">
                <div class="row post-badges">
                    <span class="new badge {{ tag?.tag_cor }}" attr.data-badge-caption="{{ tag?.tag_nome }}" *ngFor="let tag of tags"></span>
                </div>
                <h1 [ngClass]="!post ? 'skeleton-title-sm' : 'teste'">{{ post?.liv_nome }}</h1>
            </div>
    
            <div class="col s10 offset-s1 post-description">
                <p [ngClass]="!post ? 'skeleton-descript-post' : 'teste'">
                    {{ post?.tra_descricao }}
                </p>
            </div>
    
            <div class="col s10 offset-s1 post-actions">
                <div class="row">
                    <!--ratings></ratings-->
                    <!--likes></likes-->
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn col s12 blue" [routerLink]="['viewer']">Ler Resumo</a>    
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn col s12 white">Comentar</a>
                </div>
                <div class="row">
                    <app-comments></app-comments>
                </div>            
            </div>
    
            <div class="col s10 offset-s1 post-suggested">
                <h6>Sugeridos para você</h6>
                <post-list></post-list>
            </div>
        </div>
    </div>
    