<div class="container">
    <div class="login-wrapper">
      <div class="row">
        <h4 class="blue-text darken-2 center-align">Entrar</h4>
        <div class="col s12 m8 offset-m2 l6 offset-l3">

          <form [formGroup]="loginForm" (submit)="onClickLogin()">
              <div class="input-field col s12">
                  <input formControlName="email" id="first_name" type="text" class="validate">
                  <label for="first_name">E-mail ou Usuario</label>
                </div>
                <div class="input-field col s12">
                  <input formControlName="password" id="last_name" type="password" class="validate">
                  <label for="last_name">Senha</label>
                  <vmessage 
                    *ngIf="loginForm.get('password').errors?.required || loginForm.get('email').errors?.required"
                    text="Preencha todos os campos"
                  >
                </vmessage>           
                </div>
                <div class="col s12">
                  <p>
                    <label>
                       <input class="filled-in" type="checkbox"/>
                       <span>Deseja memorizar sua senha?</span>
                    </label>
                  </p>
               </div>
               <div class="col s12">
                 <button [disabled]="loginForm.invalid" class="btn waves-effect blue darken-1 col s12" type="submit" name="action">Entrar</button>
               </div> 
               <div class="col s12">
                 <p class="center-align">Não posui uma conta? <a routerLink="register" class="blue-text">Clique aqui</a></p>
               </div>
               
               <div class="col s12">
                 <p class="col s12 center-align">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium cumque laborum, et deleniti iste dolor in quam. </p>
               </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>