@import '../../../../assets/styles/_base/colors';

.container{
    height: 100%;
}
.icons{
    padding-bottom: 0.1em;
    i{padding: 0.3em 0.3em;}
}

.title{
    padding: 0em;
    font-size: 1em;
    h1{font-size: 3em;font-weight: bold;}
}
.back{
    padding: 1em;
}
.row .text{
    font-size: 1.3em;
}
.text{
    text-align: justify;
}
.font-bold{
    font-weight: bold;
}
i{
    color: black;
}
span{
    color: black;
}
.inline-icon{
    vertical-align: bottom;
}
.cicon{
    color: black;
    font-size: 1.3em;
    padding-top: 0em;
    vertical-align: bottom;
    font-weight: bold;
}

.darkTheme{
    background: $darkColorTheme !important;
    height: 100%;

    p, h1, a, i, span{
        color: $textDarkColorTheme !important;
    }
}

