.state-align {
    padding-top: 15.5px;
    padding-bottom: 15.5px;

}

span.tag-state-saving {
    background: #6a778c;
    color:#fff;
    border-radius: 5px;
    padding: 7px;
}

span.tag-state-save {
    background:#21ce26;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
}