<div class="container">
    <div class="row">
        <h1>Vinte mil léguas submarinas</h1>
        <p>Criado por Rafael Marinho</p>
    </div>

    <div class="row">
        <!-- Linha de ações do texto -->
    </div>

    <div class="row">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.</p>
    </div>
</div>