<div class="container">
    <div class="col back">
        <p>< Voltar</p>
    </div>

    <div class="row center title">
        <h1>Vinte mil léguas submarinas</h1>
        <p>Criado por Rafael Marinho</p>
    </div>

    <div class="row right icons">
        <div class="col s-12">
        <i class="material-icons">format_size</i>
        <i class="material-icons">sms</i>
        <i class="material-icons">brightness_6</i>
        
        </div>
    </div>



    

    <div class="row">
        <!-- Linha de ações do texto -->
    </div>

    <div class="row">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet 
            voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur 
            ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, 
            itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus 
            consequatur ullam minus adipisci officiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet 
                    voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur 
                    ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, 
                    itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus 
                    consequatur ullam minus adipisci officiis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet 
                            voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur 
                            ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, 
                            itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus 
                            consequatur ullam minus adipisci officiis.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet 
                                    voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur 
                                    ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, 
                                    itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur 
                                    adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus 
                                    consequatur ullam minus adipisci officiis.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet 
                                            voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                            Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur 
                                            ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, 
                                            itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur 
                                            adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus 
                                            consequatur ullam minus adipisci officiis.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet 
                                                    voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                    Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur 
                                                    ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, 
                                                    itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus consequatur ullam minus adipisci officiis.Lorem ipsum dolor sit amet consectetur 
                                                    adipisicing elit. Placeat, nulla dolorem. Incidunt praesentium provident assumenda, itaque blanditiis ut amet voluptatem pariatur cumque a harum repellendus 
                                                    consequatur ullam minus adipisci officiis.</p>
    </div>
    <div class="row center">
        <p>VOTAR</p>
        <i class="material-icons">star_borderstar_borderstar_borderstar_borderstar_border</i>
    </div>
</div>