.icons{
    padding-bottom: 0.1em;
}
.icons i{
    padding: 0.3em 0.3em;
}
.title{
    padding: 0em;
    font-size: 1em;
}
.title h1{
    font-size: 3em;
    font-weight: bold;
}
.back{
    padding: 1em;
}
.row .text{
    font-size: 1.3em;
}
.font-bold{
    font-weight: bold;
}