//
// @TODO
// 
//
@import '../../../../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import '../../../../assets/styles/_base/base';

.card-content{
    padding: 4px;

    .card-title{
        text-align: center;

        @include breakpoint($xs){
            font-size: 15px;
            line-height: 23px;
        }
    }
}

.card-action{
    padding: 4px;
    text-align: center;

    a{
        margin-right: 0 !important;
    }
}