<div class="container">
  <div class="login-wrapper">
    <div class="row">
      <h4 class="blue-text darken-2 center-align">Entrar</h4>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="input-field col s12">
           <input id="first_name" type="text" class="validate">
           <label for="first_name">E-mail ou Usuario</label>
         </div>
         <div class="input-field col s12">
           <input id="last_name" type="password" class="validate">
           <label for="last_name">Senha</label>
           <span class="helper-text right-align" data-error="wrong" data-success="right">Helper text</span>           
         </div>
         <div class="col s12">
           <p>
             <label>
                <input class="filled-in" type="checkbox"/>
                <span>Deseja memorizar sua senha?</span>
             </label>
           </p>
        </div>
        <div class="col s12">
          <button [routerLink]='["/dashboard"]' class="btn waves-effect blue darken-1 col s12" type="submit" name="action">Entrar</button>
        </div> 
        <div class="col s12">
          <p class="center-align">Não posui uma conta? <a routerLink="register" class="blue-text">Clique aqui</a></p>
        </div>
        
        <div class="col s12">
          <p class="col s12 center-align">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium cumque laborum, et deleniti iste dolor in quam. </p>
        </div>
      </div>
    </div>
  </div>
</div>