@import '../../../../../assets/styles/_base/colors';
@import '../../../../../assets/styles/_theme-components/skeleton';


.card-content{
    padding: 4px;
}

.card-action{
    padding: 4px;
    text-align: center;

    a{
        margin-right: 0 !important;
    }
}