
    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo logo-bar">Logo</a>


        <ul id="nav-mobile" class="right hide-on-med-and-down ul-bar sidenav">
          <li><a href="#">entrar</a></li>
          <li><a href="#" class="btn red lighten-1 ">Cadastre-se</a></li>
        </ul>
      </div>
    </nav>


    <div class="slider">
      <ul class="slides">
        <li>
          <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>


    <div class="container">
        <div class="section app">
          <div class="center pad">
            <h3>O que é o Study Já?</h3>
            <p>O Study Já é uma plantaforma onde estudantes universitários, podem compartilhar resumos de livros, e artigos academicos. Venha fazer parte deste Time!</p>
          </div>
          <div class="row pad s12  center">
            <div class="col s4 l3 offset-l1 center">
              <img src="../../../assets/images/icons/Crie-Icon.png" class="responsive-img">
            </div>

            <div class="col s4 l3 center">
                <img src="../../../assets/images/icons/Avalie-Icon.png" class="responsive-img">
            </div>

            <div class="col s4 l3 center">
                <img src="../../../assets/images/icons/Compartilhe-Icon.png" class="responsive-img">
            </div>

         </div>
      </div>
    </div>

    <div class="team center">
     <div class="container text-center pad">
        <h3>Venha fazer parte do nosso time!</h3>
        <a href="#" class="btn red lighten-1 ">Cadastre-se</a>
     </div>
    </div>

    <div class="container">
      <div class="center pad">
        <div class="pad">
          <h3>Porque utilizar o Study Já?</h3>
         <p>Com o Study Já você terá a segurança de ler resumos, avaliados por nossa equipe de <br> especialistas</p>
        </div>
        <div class="col s4 center">
          <img src="../../../assets/images/icons/Compartilhe-Icon.png" class="responsive-img">
        </div>
      </div>
    </div>

    <div class="container pad">
      <div class="center">
        <h5>O Aplicativo Study Já</h5>
      </div>
    </div>

    <div class="container pad">
      <div class="row s12 center">
        <div class="col  m5 l3 offset-l2">
          <p>
            O App Study Já, é a maneira mais fácil
            de publicar, e compartilhar resumos,
            e artigos, basta acessar a loja virtual de
            seu smartphone e realizar o download.
          </p>
          <a href="#" class="btn red lighten-1 ">Cadastre-se</a>
        </div>
        <div class="col m7 l4 hide-on-small-only">
            <div class="image"></div>
      </div>
    </div>
    </div>

    <div class="footer">
      <div class="logo">
        LOGO
      </div>
      <div class="footerback">

      </div>
    </div>

    <script>
        $(document).ready(function(){
      $('.slider').slider();
    });


    </script>

