//
// @COLORS
// Variaveis de cores do projeto
//

$black: #1e1b18;
$white: #fffaff;
$grey: darken(#e0e0e0, 15%);
$body-bg: #f9f9f9;
$breadcrumbs-bg: #f3f3f3;
$pre_loader_bg: #eceff1;
$pre_loader_color_1: #3498db;
$pre_loader_color_2: #e74c3c;
$pre_loader_color_3: #f9c922;

//$rgbaBlack: rgba(30, 27, 24, 1);

