//
// @TODO
// 
//

$xs: max-width 500px;

//Sidenav
$sidenav-width: 240px;
$sidenav-expanded-width: 240px;
$sidenav-collapsed-width: 64px;
$right-sidenav-width: 300px;
$sidenav-active-bg: rgba(0, 0, 0, 0.04);
$sidenav-img-bg: url('../../images/gallary/12.png');

// SlideOut width
$slide_out_width: 280px;