/* VOTAÇÃO BOTÕES */
.post-ratings{
    display: flex;
    justify-content: end;
    align-items: center;
}
.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 2em
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }

