
    <div class="section">
        <!--Hoverable Table-->
        <td><users-create-admin></users-create-admin></td>
        <div class="divider"></div>
        <div id="hoverable-table">
          <div class="row">
            <div class="col s12">
              <table class="highlight centered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sexo</th>
                    <th>Campo</th>
                    <th>Excluir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>123</td>
                    <td>Guilherme Barbosa</td>
                    <td>Masculino</td>
                    <td>Campo de Texto</td>
                    <!--<td><a class="waves-effect waves-light  btn ml-1 #f44336 green"><i class=" left material-icons">clear</i>Admin</a></td>-->
                    <td><a class="waves-effect waves-light  btn ml-1 #f44336 red"><i class="center material-icons">clear</i></a></td>

                  </tr>
                  <tr>
                      <td>124</td>
                      <td>Henrique Augusto</td>
                      <td>Masculino</td>
                      <td>Campo de Texto</td>
                      <!--<td><a class="waves-effect waves-light  btn ml-1 #f44336 green"><i class=" left material-icons">clear</i>Admin</a></td>-->
                      <td><a class="waves-effect waves-light  btn ml-1 #f44336 red"><i class="center material-icons">clear</i></a></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
